<div class="main">
  <div class="side">
    <div class="sidenav">
      <div class="icon"><fa-icon [icon]="fahouse"></fa-icon> Home</div>
      <div class="icon">
        <fa-icon [icon]="famagnifyingglass"></fa-icon> Search
      </div>
      <div class="icon"><fa-icon [icon]="fanotes"></fa-icon> Notes</div>
      <div class="icon"><fa-icon [icon]="fateams"></fa-icon> Teams</div>
      <div class="icon"><fa-icon [icon]="fatext"></fa-icon> Chat</div>
      <div class="icon"><fa-icon [icon]="fabell"></fa-icon> Notification</div>
    </div>
  </div>
  <div class="portion">
    <div class="topnav">
      <p>Private</p>
      <p>Public</p>
    </div>
    <hr class="hr" />
    <div class="searchbar">
      <fa-icon [icon]="famagnifyingglass"></fa-icon>Search Notes
    </div>
    <hr class="hr" />
  </div>
</div>
