<h1>Notes</h1>
<div class="topnav">
  <button class="buttonss" (click)="view()">
    <fa-icon [icon]="faplus"></fa-icon> Create Notes
  </button>
</div>
<div *ngIf="!formField">
  <form [formGroup]="edit">
    <div class="main">
      <textarea
        class="title"
        placeholder="Title"
        type="text"
        formControlName="tit"
      >
      </textarea>

      <textarea
        class="text"
        placeholder="Type your notes here"
        type="text"
        formControlName="tex"
      ></textarea>
      <div class="buttons">
        <button class="button" (click)="saveFile()">Save</button>

        <button class="button" (click)="show()">View notes</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="formField">
  <app-home [item]="store"></app-home>
</div>
